page-list {

}

page-list .item-md {
    padding-left: 4px;
}

page-list .card-md {
    box-shadow: none;
    width: calc(100%);
    margin: 0px;
}


.date {
    color:#666;
    font-size: 0.9em;
    text-align:left;
}

.memo {
    color:#666;
    white-space: pre;

}

.address {
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}

.toolbar-md {
    padding: 0px;
}

.list-title {
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #889785;
    text-align:center;
}

ion-row {
    text-decoration:none;
    word-break: break-all;
    white-space: normal;

}

ion-col {
    padding:3px;
}

.tabs-md .tabbar {
    height: 35px;
}

.label-md {
    margin: 0px 8px 0px 0px;
}