<ion-content class="home">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      HealWorld
    </ion-title>
    <ion-buttons end>
      <button ion-button clear large (click)="openSearch()">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-item class="list-header" (click)="openSearch()">
    <ion-row>
      <ion-col width-75><p>{{address}}</p>
      </ion-col>
      <ion-col>
        <p>반경 {{dist}} km</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-75>
        <p>{{search}}</p>
      </ion-col>
      <ion-col>
        <p>{{items_count}} 건</p>
      </ion-col>
    </ion-row>

  </ion-item>

  <ion-grid no-lines *ngIf="itemspinner">
    <ion-col center width-10>
      <ion-spinner name="bubbles" ></ion-spinner>
    </ion-col>
  </ion-grid>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!itemspinner">
    <ion-card *ngFor="let item of items">
      <ion-item>
        <ion-avatar item-left>
          <img data-src="{{item.properties.user.profile_picture_url}}"/>
        </ion-avatar>
        <h2>{{item.properties.user.username}}</h2>
      </ion-item>


      <img src="{{item.properties.image}}" (click)="itemTapped(item)">

      <ion-card-content class="list-header">
        <b>{{item.properties.title}}</b>
      </ion-card-content>

      <ion-row (click)="itemTapped(item)">
        <ion-col width-25 class="price">
          <span >{{item.properties.price | number}} 원</span>
        </ion-col>

        <ion-col width-25 class="short-info">
          <span>{{item.properties.created_at | amTimeAgo}}</span>
        </ion-col>

        <ion-col width-50 class="short-info">
          <span >{{item.properties.address}} {{item.properties.distance}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset-75 class="short-info">
          <span>{{ item.properties.cnt_of_comments }} 댓글</span>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right>
    <button ion-fab (click)="addItem()">등록</button>
  </ion-fab>

</ion-content>
