<ion-content class="home">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      HealWorld
    </ion-title>
  </ion-navbar>

  <ion-card>
    <ion-grid (click)="openSearch()">
      <ion-row >
        <ion-col width-75 left class="short-info">
          <p>{{search}}</p>
          <p>{{address}} <span>반경 {{dist}} km</span> </p>
          <p style="count">{{items_count}} 건</p>
        </ion-col>
        <ion-col center offset-10 class="search-icon">
          <button ion-button icon-only outline clear>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid no-lines *ngIf="itemspinner">
    <ion-col center width-10>
      <ion-spinner name="bubbles" ></ion-spinner>
    </ion-col>
  </ion-grid>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!itemspinner">
    <ion-card *ngFor="let item of items">
      <ion-item class="list-header">
        <ion-avatar item-left>
          <img data-src="{{item.properties.user.profile_picture_url}}"/>
        </ion-avatar>
        <h2>{{item.properties.user.username}}</h2>
      </ion-item>

      <img src="{{item.properties.image}}" (click)="itemTapped(item)">

      <ion-card-content>
        <b>{{item.properties.title}}</b>
{{item.properties.memo}}
      </ion-card-content>

      <ion-row (click)="itemTapped(item)" *ngIf="item.properties.price">
        <ion-col width-25 class="price">
          <span >{{item.properties.price | number}} 원</span>
        </ion-col>

        <ion-col width-25 class="short-info">
          <span>{{item.properties.created_at | amTimeAgo}}</span>
        </ion-col>

        <ion-col width-50 class="short-info">
          {{item.properties.address}} {{item.properties.distance}}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.properties.cnt_of_comments">
        <ion-col offset-75 class="short-info">
          <span>{{ item.properties.cnt_of_comments }} 댓글</span>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-card *ngIf="items.length==0" class="short-info no-items">
      찾으시는 물건 {{search}}<br>"{{address}}" 주변에 없습니다.
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right>
    <button ion-fab (click)="addItem()">등록</button>
  </ion-fab>

</ion-content>
