page-list {

    .item-md {
        padding-left: 4px;
        background-color: unset;
        padding-right: 0px;
    }

    .item-md p {
        text-align: center;
    }

    .card-md {
        box-shadow: none;
        width: calc(100%);
        margin: 0px;
    }


    .date {
        color:#666;
        font-size: 0.9em;
        text-align:left;
    }

    .memo {
        color:#666;

    }

    .address {
        font-size: 1.2rem;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
        height: 100%;
        display: block;
        vertical-align: middle;
    }

    .toolbar-md {
        padding: 0px;
    }

    .list-title {
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #889785;
        text-align:center;
    }

    ion-row {
        text-decoration:none;
        word-break: break-all;
        white-space: normal;

    }

    ion-col {
        padding:3px;
        text-align: left;
    }

    .tabs-md .tabbar {
        height: 40px;
    }

    .label-md {
        margin: 0px;
    }

    .slide-zoom {
        width: unset;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .slider-slide img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }


}
