page-list {

}

.date {
    color:#666;
    font-size: 0.9em;
    text-align:right;
}

.price {
    color:#666;

}

.toolbar-md {
    padding: 0px;
}

 .list-title {
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #889785;
    text-align:center;
 }

 ion-row {
    text-decoration:none;
 }

 ion-col {
     padding:3px;
 }

 .tabs-md .tabbar {
     height: 35px;
 }

 .label-md {
    margin: 0px 8px 0px 0px;
}