<ion-header>

  <ion-navbar>
    <div class="list-title">Heal the world</div>
  </ion-navbar>

</ion-header>

<ion-content class="home">
  <ion-refresher (ionRefresh)="doRefresh($event)">

    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let item of items" (click)="itemTapped(item)">
      <ion-item >
        <ion-avatar item-left>
          <img data-src="{{item.properties.user.profile_picture.thumbnail__50x50}}" />
        </ion-avatar>
        <h2>{{item.properties.user.username}}</h2>
      </ion-item>

      <div *ngFor="let image of item.properties.images">
        <img height="200" src="{{image.itemshot.thumbnail__400x400}}">
      </div>

      <ion-card-content>
        <p>{{item.properties.memo}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-left>
            <ion-icon name='thumbs-up'></ion-icon>
            12 Likes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-left>
            <ion-icon name='text'></ion-icon>
            {{item.properties.created_at | date : format : timezone}}
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{item.properties.price}}
          </ion-note>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col center text-center>
          {{item.properties.address}}
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addItem()">+</button>
  </ion-fab>

</ion-content>
