page-profile {
}

page-profile .item-md {
    font-size:none;
}

page-profile .input {
    font:none;
}

page-profile .item-md .item-button {
    height: 50px;
}

a {
    text-decoration:none;
}

page-profile ion-card-header {
    text-align: center;
}
