<ion-header>
  <ion-navbar>
    <ion-title>사용자</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <div id="login_show" *ngIf="authService.isAuthorized()">
     you're an authorized user.
     hi {{username}}

     <div *ngIf="social_auth">
     {{provider}} {{social_auth.extra_data.id}} id
     <img src="https://graph.facebook.com/{{facebook_id}}/picture/" alt="" *ngIf="provider=='facebook'"/>
     </div>
   </div>

   <div id="login_hide" *ngIf="!authService.isAuthorized()">
     <ion-card>
       <ion-card-header>
         로그인 하세요.
       </ion-card-header>
       <ion-item>
         <a href="{{authService.baseUrl}}login/facebook/">
           <button ion-button outline round block>Facebook</button></a>
       </ion-item>

       <ion-item>
         <a href="{{authService.baseUrl}}login/naver/">
           <button ion-button outline round block color="secondary" >Naver</button></a>
       </ion-item>
     </ion-card>

   </div>
</ion-content>
