<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>사용자</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  hi user. {{ auth.loggedIn()}}

   <button id="login" *ngIf="!auth.loggedIn()">Log In</button>
   <button id="logout" *ngIf="auth.loggedIn()">Log Out</button>

   <div id="login_show" *ngIf="auth.loggedIn()">
     login
   </div>

   <div id="login_hide" *ngIf="!auth.loggedIn()">
     logout
   </div>

</ion-content>
