<ion-header>
  <ion-navbar>
    <ion-title>등록</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="postForm" id="postFrom">
    <ion-item no-lines>
      <ion-label>제목</ion-label>
      <ion-input formControlName="title" placeholder="가방 팝니다" name="title" clearInput></ion-input>
    </ion-item>

    <ion-item no-lines>
      <div class="image-upload">
        <label for="file-input">
            <ion-icon name="ios-cloud-upload-outline"></ion-icon>
        </label>

        <input id="file-input" type="file" class="custom-file-input" (change)="onPostImage(input)" formControlName="image_ids" #input capture="camera" title=" " accept="images/*" />
        <input type="hidden" name="image_ids"  />
      </div>
    </ion-item>

    <ion-item text-center *ngIf="preview" no-lines>
      <ion-grid>
        <ion-row >
          <ion-col width-33 *ngFor="let image of preview"><img src="{{image.itemshot.thumbnail__200x200}}"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item no-lines>
      <ion-label>내용</ion-label>
      <ion-textarea formControlName="memo" placeholder="한달 썼어요" name="memo"></ion-textarea>
    </ion-item>

    <ion-item no-lines>
      <ion-label>위치</ion-label>
      <ion-input disabled clearInput value="{{address}}"></ion-input>
      <button ion-button item-right (click)="getAddress()">현재위치</button>
    </ion-item>

    <ion-item no-lines>
      <ion-label>가격</ion-label>
      <ion-input formControlName="price" placeholder="숫자만 입력하세요" name="price"></ion-input>
      <button ion-button clear item-right >원</button>
    </ion-item>

    <ion-list radio-group formControlName="quality" name="quality">
      <ion-list-header>
        상태
      </ion-list-header>

      <ion-item>
        <ion-label>상</ion-label>
        <ion-radio value="9"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>중</ion-label>
        <ion-radio value="5"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>하</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item no-lines>
      <ion-row>
        <ion-col text-center>
          <button ion-button large type="cancel" (click)="onCancel()">취소</button>
        </ion-col>
        <ion-col text-center>

          <button ion-button large type="submit" (click)="onSubmit()" [disabled]="!postForm.valid" form="postFrom">등록완료</button>
        </ion-col>
      </ion-row>
    </ion-item>

  </form>

</ion-content>
