<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>나의 아이템</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!items.length">
    <p>처리중인 아이템이 없습니다.</p>
  </div>

  <ion-card *ngFor="let item of items" color="{{item.properties.state}}" >
    <ion-grid no-lines>
      <ion-row>
        <ion-col center>
          <h2>{{item.properties.title}}</h2>
          <span class="short-info">{{item.properties.created_at  | amDateFormat:'YYYY.MM.DD HH:mm' }}</span>
        </ion-col>
        <ion-col width-20 center>
          <ion-buttons>
            <button ion-button icon-only outline clear (click)="showConfirm(item)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
