<ion-header>
  <ion-navbar>
    <ion-title *ngIf="item"><p>{{item.properties.title}}</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="item">
    <ion-item >
      <ion-avatar item-left>
        <img data-src="{{item.properties.user.profile_picture_url}}"/>
      </ion-avatar>

      <ion-row center>
        <ion-col class="date">
          <b>{{item.properties.user.username}}</b>
        </ion-col>
        <ion-col>
          <p>{{item.properties.created_at | amTimeAgo}}</p>
        </ion-col>
      </ion-row>

      <ion-row center>
        <p class="address">{{item.properties.address}}</p>

        <button ion-button outline item-right (click)="showMap()">
          {{item.properties.distance}}
        </button>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-slides #imgSlider [options]="detailSlideOptions">
        <ion-slide *ngFor="let image of item.properties.images" zoom>
          <img src="{{image.itemshot.thumbnail__400x400}}" swiper-lazy zoom-pan>
        </ion-slide>
      </ion-slides>

      <ion-row>
        <ion-col>
          <p class="price">{{item.properties.price}} 원</p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-card-content><p>{{item.properties.title}}</p>{{item.properties.memo}}</ion-card-content>

    <ion-item>
      <ion-row>
        <ion-col>
          <div *ngIf="comments"><p>{{comments.length}} 댓글</p></div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <ion-avatar item-left>
          <img data-src="{{comment.user.profile_picture_url}}"/>
        </ion-avatar>
        <ion-row>
          <h4><b>{{ comment.user_name }}</b>&nbsp;{{ comment.comment }}</h4>
        </ion-row>

        <ion-row>
          <p>{{ comment.submit_date | amTimeAgo}}</p>
        </ion-row>

      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="commentForm" (ngSubmit)="postComment()">

      <ion-item>
        <ion-input formControlName="comment" placeholder="{{placeholder_comment}}" name="comment" class="comment"></ion-input>
        <button ion-button outline item-right [disabled]="comment_disabled" form="commentForm">등록</button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
