<ion-header>
  <ion-navbar>
    <ion-title>등록된 자원</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <div class="list-title">{{item.properties.memo}}</div>
    </ion-item>

    <ion-item>
      <div *ngFor="let image of item.properties.images">
        <img height="200" src="{{image.itemshot.thumbnail__400x400}}">
      </div>
      <p>{{item.properties.price}}</p>
      <p>{{item.properties.created_at | date : format : timezone}}</p>
    </ion-item>

    <ion-item >
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
        <sebm-google-map-circle [latitude]="lat" [longitude]="lng" [clickable]="true"
                                fillColor="#010101" [radius]="500" [fillOpacity]="0.1"></sebm-google-map-circle>
      </sebm-google-map>
      <h2>{{item.properties.address}}</h2>
    </ion-item>

    <form [formGroup]="postForm" (ngSubmit)="postComment()">
      <ion-input formControlName="comment" placeholder="comment" name="comment"></ion-input>
    </form>

    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <ion-avatar item-left>
          <img src="img/avatar-finn.png">
        </ion-avatar>
        <h2>{{ comment.user_name }}</h2>
        <h3>{{ comment.comment }}</h3>
        <p>{{ comment.submit_date | date : format : timezone}}</p>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>
