page-detail {

    ion-card .card-md {
        margin: 10px 0px 0px 0px;
    }

    .item-md {
        padding-left: 0px;
    }

    .label-md {
        margin: 0;

    }

    .card-md {
        box-shadow: none;
        margin: 5px 0px 0px 0px;
        width: calc(100%);
    }

    .item-md.item-block .item-inner {
        padding-right: 0px;
    }

    .address {
        font-size: 1.2rem;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
    }


    ion-col {
        text-align: center;
        padding: 0px;
    }

    ion-row h4{
        white-space: normal;
    }

    .comment {
        text-align: left;
    }

    .toolbar-md {
        height:20px
    }

    ion-avatar img {
        max-width: 4rem;
        max-height: 4rem;
        border-radius: 2rem;
        margin: 0;
    }
}
