<ion-header>
  <ion-navbar>
    <ion-title *ngIf="item"><p>{{item.properties.title}}</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="item">
    <ion-grid>
      <ion-row>
        <ion-col width-20>
          <ion-avatar item-left>
            <img data-src="{{item.properties.user.profile_picture_url}}"/>
          </ion-avatar>
        </ion-col>

        <ion-col text-left center>
          <b>{{item.properties.user.username}}</b>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-row *ngFor="let image of item.properties.images">
        <ion-col>
          <img src="{{image.itemshot.thumbnail__1200x1200}}" swiper-lazy zoom-pan>
        </ion-col>
      </ion-row>

      <ion-item >
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
          <sebm-google-map-circle [latitude]="lat" [longitude]="lng" [clickable]="true"
                                  fillColor="#010101" [radius]="500" [fillOpacity]="0.1"></sebm-google-map-circle>
        </sebm-google-map>
      </ion-item>


      <ion-row padding-top padding-bottom>
        <ion-col center>
          <span class="price">{{item.properties.price | number}} 원</span>
        </ion-col>

        <ion-col class="short-info" *ngIf="item.properties.user.phone">
          <a ion-button outline href="tel:{{item.properties.user.phone}}">전화걸기</a>
        </ion-col>

        <ion-col class="short-info" center>
          {{item.properties.created_at | amTimeAgo}}
        </ion-col>

        <ion-col class="short-info" center (click)="showMap()">
          {{item.properties.address}}
          <p class="address" *ngIf="item.properties.distance.length" >{{item.properties.distance}}</p>
        </ion-col>


      </ion-row>
    </ion-item>

    <ion-card-content><p>{{item.properties.title}}</p>{{item.properties.memo}}</ion-card-content>
    <ion-item>
      <ion-row>
        <ion-col>
          <div *ngIf="comments"><p>{{comments.length}} 댓글</p></div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let comment of comments" item-text-wrap>
        <ion-avatar item-left class="comment-img" >
          <img data-src="{{comment.user.profile_picture_url}}"/>
        </ion-avatar>
        <ion-row>
          <ion-col class="comment">
            <p><b>{{ comment.user_name }}</b></p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="comment" item-text-wrap>
            <p item-text-wrap>{{ comment.comment }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-right>
            <p>{{ comment.submit_date | amTimeAgo}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="commentForm" id="commentForm">
      <ion-item>
        <ion-input formControlName="comment" placeholder="{{placeholder_comment}}" (tap)="checkLogin()" name="comment" class="comment"></ion-input>
        <button type="submit" ion-button outline item-right (click)="postComment()" [disabled]="comment_disabled" form="commentForm">등록</button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
