page-detail {

    ion-card .card-md {
        margin: 10px 0px 0px 0px;
    }

    .item-md {
        padding-left: 0px;
    }


    .card-md {
        box-shadow: none;
        margin: 5px 0px 0px 0px;
        width: calc(100%);
    }

    .item-md.item-block .item-inner {
        padding-right: 0px;
    }

    .button-md {
        height: 100%;
    }

    .address {
        font-size: 1.2rem;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
    }


    ion-col {
        text-align: center;
    }

    ion-row h4{
        white-space: normal;
    }

    .comment {
        text-align: left;
    }

    .toolbar-md {
        height:20px
    }

}
